/* using flexbox please add at minimum one of these to every element */
/* * {
    border-style: dashed;
    border-color: red;
} */

.flex-container {
    display: flex;
}

.flex-item {
    flex:  1 1 auto;

}

body.flex-container {
    flex-direction: column;
    align-items: center;
}

.grid.flex-container {
    flex-direction: column;
    width: 960px;
    height: 960px;
    border-style:solid;
    border-color: black;
    border-width: 1px;

}

.row.flex-container {
    justify-content: center;
}

.block.flex-item {
    flex: 1 1 auto;
}

.block {
    background-color: white;
    border-style:solid;
    border-color: black;
    border-width: 1px;
    
}

.hover {
    background-color: black;
}