/* using flexbox please add at minimum one of these to every element */
* {
    border-style: dashed;
    border-color: red;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex:  1 1 auto;

}

body.flex-container {
    flex-direction: column;
}

.row.flex-container {
    justify-content: center;
}

.block.flex-item {
    flex: 0 1 auto;
}

.block {
    width: 25px;
    height:25px;
    background-color: white;
}

.hover {
    background-color: black;
}